@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@1,300&family=Kumbh+Sans:wght@300;400;500;600;700&family=Manrope:wght@600;800&family=Roboto+Slab:wght@100;300;400&family=Space+Mono:wght@400;700&display=swap');
:root {
    --ffamily: 'Kumbh Sans';
    --background-clr:rgba(30, 33, 63, 1);
    --title-clr: rgba(215, 224, 255, 1);
    --background-btn-group: rgba(22, 25, 50, 1);
    --pink: #F87070;
    --white: #fff;
    --line: rgba(227, 225, 225, 1);
    --third-font: rgba(239, 241, 250, 1);
    --ffamily-2: 'Roboto Slab';
    --ffamily-3: 'Space Mono';
    --blue:rgba(112, 243, 248, 1);
    --purple: rgba(216, 129, 248, 1);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-clr);
    font-family: var(--ffamily);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}

.title {
    color: var(--title-clr);
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
}

.buttons-group {
    margin-top: 1.5em;
    background-color: var(--background-btn-group);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 31.5px;
    width: 373px;
    height: 63px;
}

.buttons-group .btn {
    padding: 0.5em;
    margin: 0 0.5em;
    width: 120px;
    height: 48px;
    border-radius: 26.5px;
    outline: none;
    border: none;
    color: var(--title-clr);
    background-color: var(--background-btn-group);
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.buttons-group .btn:hover {
    opacity: 1;
}

.btn.active {
    background-color: var(--pink);
    color: var(--background-clr);
    opacity: 1;
}

.main-circle {
    margin-top: 4.5em;
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-circle {
    width: 366px;
    height: 366px;
    border-radius: 50%;
    background-color: var(--background-btn-group);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-circle {
    width: 339px;
    height: 339px;
    border-radius: 50%;
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-circle .inner {
    border-radius: 50%;
    z-index: 6;
    width: 320px;
    height: 320px;
    background-color: var(--background-btn-group);
}

.time-counting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}

.time-counting .minutes {
    color: var(--title-clr);
    font-weight: bold;
    font-size: 100px;
    line-height: 101px;
    text-align: center;
    letter-spacing: -5px;
}

.time-counting .restart {
    color: var(--title-clr);
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 15px;
    margin-top: 2em;
    text-transform: uppercase;
}

.icon-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    cursor: pointer;
}

.display-settings {
    width: 540px;
    height: 490px;
    background-color: var(--white);
    border-radius: 25px;
    display: none;
    flex-direction: column;
    transform: translateY(-105%);
    z-index: 7;
}

.line {
    background-color: var(--line);
    width: 540px;
    height: 1px;
}

.short-line {
    background-color: var(--line);
    width: 460px;
    height: 1px;
    display: flex;
    margin: auto;
    mix-blend-mode: normal;
}

.settings-title {
    display: flex;
    justify-content: space-between;
}

.icon-close {
    display: flex;
    justify-content: start;
    align-items: center;
}

.close {
    width: 14px;
    height: 14px;
    cursor: pointer;
    padding: 1.5em;
}

.settings-title h2 {
    color: var(--background-btn-group);
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    padding: 1.5em;
}

.time-section {
    display: flex;
    flex-direction: column;
}

.time-minutes {
    color: var(--background-btn-group);
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 2.5em 3em;
}

.choose-section {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5em;
}

.choose-section p {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: var(--background-clr);
    mix-blend-mode: normal;
    opacity: 0.4;
    margin-bottom: 0.5em;
}

.font-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5em;
}

.font-title, .color-title {
    color: var(--background-btn-group);
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.fonts {
    display: flex;
    justify-content: space-between;
    width: 152px;
}

.fonts .round, .colors .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.round.act {
    background-color: var(--background-btn-group);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: var(--white);
    opacity: 1;
}

.first-font {
    background-color: var(--third-font);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: var(--background-btn-group);
}

.second-font {
    background-color: var(--third-font);
    color: var(--background-btn-group);
    font-size: 15px;
    line-height: 20px;
    mix-blend-mode: normal;
    opacity: 0.73;
    font-family: var(--ffamily-2);
}

.third-font {
    background-color: var(--third-font);
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: var(--background-btn-group);
    mix-blend-mode: normal;
    opacity: 0.73;
    font-family: var(--ffamily-3);
}

.color-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5em;
}

.colors {
    display: flex;
    justify-content: space-between;
    width: 152px;
}

.colors .pink {
    background-color: #F87070;
}

.colors .blue {
    background-color: var(--blue);
}

.colors .purple {
    background-color: var(--purple);
}

.apply-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply {
    width: 140px;
    height: 53px;
    background: var(--pink);
    border-radius: 26.5px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: var(--white);
    transform: translateY(50%);
    cursor: pointer;
}

.restart:hover {
    color: var(--pink);
    cursor: pointer;
}

input[type=number] {
    appearance: none;
    outline: none;
    border: none;
    width: 140px;
    height: 48px;
    border-radius: 10px;
    background-color: var(--third-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: var(--background-clr);
    display: flex;
    padding-left: 0.5em;
}

.short, .long, .pause, .short-restart, .long-restart, .short-pause, .long-pause {
    display: none;
}

@media (max-width: 636px) {
    .display-settings {
        width: 400px;
    }

    input[type=number] {
        width: 80px;
    }

    .line {
        width: 400px
    }

    .short-line {
        width: 300px;
    }
}

@media (max-width: 427px) {
    .display-settings {
        width: 90%;
    }

    input[type=number] {
        width: 70px;
    }

    .line {
        width: 100%;
    }

    .short-line {
        width: 80%;
    }

    .main-circle {
        width: 300px;
        height: 300px;
    }

    .middle-circle {
        width: 267.8px;
        height: 267.8px;
    }

    .progress-circle {
        width: 248.05px;
        height: 248.05px; 
    }

    .progress-circle .inner {
        width: 230px;
        height: 230px;
    }

    .time-counting .minutes {
        font-size: 80px;
    }
    
    .time-counting .restart {
        font-size: 14px;
    }

    .time-counting {
        margin-top: 3em;
    }

    .time-counting .restart {
        margin-top: 0.5em;
    }

    .buttons-group {
        width: 327px;
    }


    .icon-settings {
        margin-top: 4em;
    }
}
